{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ut eius voluptas neque atque incidunt tempore dolor eligendi explicabo consequatur eveniet praesentium. Quae libero impedit dolorum assumenda ad, tenetur mollitia?
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, inventore nulla aliquid quis nisi sit nostrum eligendi alias necessitatibus saepe fugit cum iusto aspernatur voluptas voluptates enim aliquam a ut.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, incidunt explicabo cumque nesciunt cum numquam similique, nulla illum, earum quam tenetur vel quae voluptatum molestiae. Reprehenderit, assumenda. Architecto, sequi fuga.
<hr>
<a href="articles" style="display:block">Makaleler</a>
<a href="contact" style="display:block">İletişim</a>
<a href="/" style="display:block">Anasayfa</a>
{% endblock %}