{% extends "layout.html" %}

{% block body %}
<h3>Anasayfa</h3>
<hr>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, deleniti omnis nulla cumque a ab harum commodi sequi pariatur praesentium reprehenderit alias modi nisi eligendi. Omnis, aspernatur sapiente! Omnis, tenetur?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum est sint ab, eius corrupti cupiditate odio mollitia pariatur, voluptatibus inventore, molestias eligendi dolorum numquam aspernatur temporibus similique? Distinctio, eum nemo!
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita similique aliquam qui suscipit quam, magnam blanditiis rerum libero. Facilis, doloribus soluta eligendi itaque dolorem culpa odio. Iusto, dignissimos vitae.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias et amet nostrum tenetur sequi suscipit in rem iste consequuntur aspernatur pariatur, modi accusamus ipsum officia. Odit alias esse laboriosam!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aut unde! Dicta, eius voluptatem. Impedit, nostrum voluptas, in similique quaerat illum commodi dignissimos asperiores quia eaque, ratione iure odit nesciunt?
{% endblock  %}